body {
  background: #ff3d00
}
.App {
  text-align: center;
  color: white;
  background: transparent;
  background: linear-gradient(#ff3d00 0%, #00a0b2  50%, #ff3d00 100%);
}

.dashCards {
  opacity: 0.8;
  border-style: solid;
  border-width: 1px;
  border-color: #e91e63;
}

@media (max-width: 1000px) {
.App {
  background: #ff3d00
}


}

